.timeline-scroll {
    color: #000;
    width: 100vw;
    height: 300vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;
}
.timeline-section {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    height: 100vh;
    display: block;
    top:0;
}
 .timeline-section .pin-spacer{
    height: 100%!important;
    padding: 0px!important;
}
.pin-list{
    height: 100%;
    width: 100%;
}
.list {
    perspective: 400px;
    visibility: hidden;
    height: 100%;
    padding : 0px!important;
    width: 100%;
}
.hentry .pin-list ul ,
.entry-content .pin-list ul {
    padding : 0px!important;
}
.list li h2{
    padding-top:20vh;
    text-align: center;
}
.list li.card {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50vh;
    bottom: auto;
    transform: translate(-50%, -25%);
    font-weight: 700;
    font-size: clamp(24px, 6vw, 96px);
    background-image: radial-gradient(50% 100%, #FFFFFF00 50%, rgba(255,255,255,0) 100%);
    border-radius: 16px;
    padding: 0 2vw;
    text-align : center;
}

.list li.card p{
    margin-bottom: 0;
}

.list li.card h3{
    font-size: clamp(24px, 30vw, 20px);
    font-weight: 300!important;
    color: #000;
}


  .timeline-section .arrows.arrow-block {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 90vh;
    bottom: auto;
    transform: translate(-50%, -100%) scale(0.6);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}



/* ARROWS */


.arrows {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.6);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.arrows svg{
    position: relative;
}
.arrows svg:nth-child(2){
    top: 3px;
}
.arrows svg:nth-child(3){
    top: 6px;
}
.arrows svg:nth-child(4){
    top: 9px;
}
.arrows svg > path{
    animation: jumNext 1.8s ease infinite;
    opacity: 0;
}
.arrows svg > path{
    fill: #000;
}
.arrows svg:nth-child(2) > path{
    animation-delay: 0.2s;
}
.arrows svg:nth-child(3) > path{
    animation-delay: 0.3s;
}
.arrows svg:nth-child(4) > path{
    animation-delay: 0.4s;
}

@keyframes jumNext {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
}

body:not(.home) > .arrows{
    display: none;
}


/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {


.list li.card{
    width: 100%;
}

}
